<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello PAPR!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/avatar_1.css") %>">
  </head>

  <body>
    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= Application.get_env(:parp_server, :google_api_key) %>"></script>
    <script type='text/javascript'>
      function genPinImg(color) {
          return {
              path: 'M 0,0 C -2,-20 -10,-22 -10,-30 A 10,10 0 1,1 10,-30 C 10,-22 2,-20 0,0 z',
              fillColor: color,
              fillOpacity: 1,
              strokeColor: '#000',
              strokeWeight: 2,
              scale: 1
          }
      }
      function init_map(name, coordinate, color){
        name = name || "my parking"
        coordinate = coordinate || "0,0"
        ct = coordinate.split(",")
        var myOptions = {
          zoom: 19,
          center: new google.maps.LatLng(ct[0],ct[1]),
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions)
        var pinImage = genPinImg(color)
        marker = new google.maps.Marker({
          map: map,
          position: new google.maps.LatLng(ct[0],ct[1]),
          // icon: pinImage
        })
        infowindow = new google.maps.InfoWindow({content:'<strong>' + name + '</strong><br>'})
        google.maps.event.addListener(marker, 'click', function(){
          infowindow.open(map,marker)
        })
        infowindow.open(map,marker)
      }
      window.init_map = init_map
    </script>
    <style>img{max-width:none!important;background:none!important}</style>

    <script src="<%= static_path(@conn, "/js/avatar_1.js") %>"></script>
  </body>
</html>
