<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Hello PAPR!</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
  <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  <link rel="stylesheet" href="<%= static_path(@conn, "/css/avatar_1.css") %>">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.js"></script>
  <link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css"/>
  <script src="http://cache.amap.com/lbs/static/es5.min.js"></script>
  <script src="http://webapi.amap.com/maps?v=1.3&key=c4bfb792cf5b3121135c9d1712ef6a58"></script>
  <script type="text/javascript" src="http://cache.amap.com/lbs/static/addToolbar.js"></script>
</head>

<body>
  <span class="map_h"></span>
  <main role="main">
    <%= render @view_module, @view_template, assigns %>
  </main>
  <script>
    var map = new AMap.Map('map_h', {})
    function init_maps(points, mycenter, zoomin) {
      map = new AMap.Map('gmap_canvas', {
        resizeEnable: true,
        zoom: zoomin,
        center: mycenter || [116.205467,39.907761]
      })
      map.clearMap();  // 清除地图覆盖物
      var mapg = '/images/parking_green1.png'
      var mapr = '/images/parking_status1.png'
      var markers = _.map(points, function(pt){
        var coordinate = pt["coordinate"] || "0,0"
        var ct = coordinate.split(",")
        var title = "sensor_id: " + pt["sensor_id"] + ", custom_name: " + pt["custom_name"]
        var icon_img = pt["parking_status"] == "parking" ? mapr : mapg
        return {
          icon: icon_img,
          position: [ct[0], ct[1]],
          content: pt["name"],
          title: title,
        }
      })
      markers.forEach(function(marker) {
        var mt = new AMap.Marker({
          map: map,
          icon: marker.icon,
          position: [marker.position[0], marker.position[1]],
        })
        mt.setTitle(marker.title)
        mt.setLabel({
          offset: new AMap.Pixel(10, -25),
          content: marker.content
        })
      })
      if(!mycenter) {
        var newCenter = map.setFitView()
      }
    }
    window.init_map = init_maps
  </script>
  <script src="<%= static_path(@conn, "/js/avatar_1.js") %>"></script>
</body>
</html>
