@import "~antd/dist/antd.css";

main {
  height: 100%;
  //resize fix display issue
  .container {
    height: 100%;
    .row {
      height: 100%;
      #app {
        height: 100%;
        .layout.ant-layout{
          height: 100%;
        }
      }
    }
  }
}
